body {
    background-color: black;
    color: white;
}

.about {
    margin-top: 10%;
    font-size: 2em;
    font-family: HelveticaNeue;
    text-align: center;

}

.resume {
    text-align: center;
    font-size: 2em;
    margin-top: 40px;
}
.social-images {
    height: 40px;
}
#mario {
    width: 300px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);

}
