@font-face {
    font-family: 'adam';
    src: url('/fonts/adam.cg_pro-webfont.woff2') format('woff2'),
        url('/fonts/adam.cg_pro-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'alcu';
    src: url('/fonts/alcubierre-webfont') format('woff2'),
        url('/fonts/alcubierre-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'baron';
    src: url('/fonts/baron_neue-webfont.woff2') format('woff2'),
        url('/fonts/baron_neue-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'fab';
    src: url('/fonts/fabrica-webfont.woff2') format('woff2'),
        url('/fonts/fabrica-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'high';
    src: url('/fonts/higher-webfont.woff2') format('woff2'),
        url('/fonts/higher-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'phage';
    src: url('/fonts/phage_regular-webfont.woff2') format('woff2'),
        url('/fonts/phage_regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'qan-light';
    src: url('/fonts/qanelassoftdemo-ultralight-webfont.woff2') format('woff2'),
        url('/fonts/qanelassoftdemo-ultralight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'qan-dark';
    src: url('/fonts/qanelassoftdemo-extrabold-webfont.woff2') format('woff2'),
        url('/fonts/qanelassoftdemo-extrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'simplifica';
    src: url('/fonts/simplifica_typeface-webfont.woff2') format('woff2'),
        url('/fonts/simplifica_typeface-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'stellar';
    src: url('/fonts/stellar-regular-webfont.woff2') format('woff2'),
        url('/fonts/stellar-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
body {
    font-family: 'alcu';
}
a {
    font-family: 'stellar';
    pointer: cursor;
}

.container {
	overflow: hidden;
}
.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #2f112d;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro {
	-webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
	transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}

/* Fullscreen image */
.intro__image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
	opacity: 0;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Intro content */
.intro__content {
	position: absolute;
	bottom: 0;
	padding: 1.8em;
	width: 100%;
	font-size: 1.15em;
}

.content__title {
	margin: 0 0 20px;
	font-weight: 900;
	font-size: 4em;
	/* font-family: "Playfair Display", Georgia, serif; */
	/* line-height: 1; */
}

.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.intro__description {
	margin: 0 auto 0 1em;
	line-height: 1.2;
	z-index: 10000;
}
.hireme {
    width: 202px;
    position: absolute;
    top: 279px;
    right: -202px;
    /* right: 100px; */
    z-index: 100000;
    animation: flyaway 20s linear 2s infinite;
}

@keyframes flyaway {
    0% {
        right: -202px;
    }

    10% {
        transform: translateY(2px);
    }

    20% {
        transform: translateY(-2px);

    }
    30% {
        transform: translateY(2px);
    }
    40% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    60% {
        transform: translateY(-2px);
    }
    70% {
        transform: translateY(2px);
    }
    80% {
        transform: translateY(-2px);
    }
    90% {
        transform: translateY(2px);
    }
    100% {
        right: 120%;
    }
}




/* Trigger button with SVG */
.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 105px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
}


/* Hide the text */

.my-links {
	z-index: 10000;
    display: inline-block;
    font-size: 1.2em;
}

.icon rect,
.icon line {
	stroke: #dbdbdb;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Main content */
.items-wrap {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 250px 5px 0;
}

.items-wrap::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2f112d;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	pointer-events: none;
}

.container--open .items-wrap::after {
	opacity: 0;
}

.item {
	position: relative;
	-webkit-flex: 1 0 25%;
	flex: 1 0 25%;
	overflow: hidden;
	height: 40vh;
	outline: none;
	border: 5px solid #2f112d;
	border-width: 0 5px 10px;
	background: #2f112d;
    font-family: 'simplifica';
    margin-bottom: 20px;

}

.item__image {
	position: absolute;
	top: 50%;
	/* min-height: 100%; */
	width: 100%;
	opacity: 0.7;
	-webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
    cursor: default;
}

.item:hover .item__image {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.item__title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: #fee9de;
	font-size: 1.85em;
	line-height: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;

}
.warning {
    display: inline-block;
}

.item:hover .item__title {
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}


/* Media Queries */

@media screen and (max-width: 1440px) {
	.item {
		-webkit-flex: 1 0 33.333%;
		flex: 1 0 33.333%;
		height: 34vh;

	}
}

@media screen and (max-width: 1000px) {
	.item {
		-webkit-flex: 1 0 50%;
		flex: 1 0 50%;
	}
	.item,
	.intro__content {
		font-size: 0.85em;
	}
    .hireme {
        top: 228px;
}
}

@media screen and (max-width: 590px) {
	.item {
		-webkit-flex: 1 0 100%;
		flex: 1 0 100%;
	}

	.content__title {
		font-size: 2em;
	}
    .intro__description {
        display: none;
    }
    .my-links {
        font-size: 1.6em;
    }
    .hireme {
        top: 173px;
        width: 160px;
}
}
